@media only screen and (min-width: 1600px) {
  .archief{
    a{
      width: 20vw;
    }
    .archief-item{
      width: 20%;
    }
  }
  .page-wrapper .content, .wrapper .content{
    max-width: 1100px;
  }
  .agenda{
    .agenda-item{
      width: 25%;
      font-size: 36px;
    }
  }
}


@media only screen and (min-width: 900px) and (max-width: 1300px) {
  .agenda{
    .agenda-item{
      width: 33%;
    }
  }
}

@media only screen and (max-width: 900px) {
  body{
    font-size: 16px;
  }
  h2{
    font-size: 36px;
  }
  .menu a{
    font-size: 15px;
    padding: 10px;
  }
  .logo{
    top: 35px;
    padding: 10px 0;
  }
  .wrapper-over-ons{
    .buttons{
      margin-top: 0;
      .button{
        margin: 3px;
      }
    }
  }
  .wrapper{
    padding-top: calc(11.5vw + 37px);
    .content{
      padding: 0 14px 24px 14px;
    }
  }
  .archief{
    column-count: 1;
    width: 100%;
    a{
      width: 100%;
    }
    .archief-item{
      margin-bottom: 1.5vw;
      width: 100%;
      img{
        width: 100vw;
        height: 100%;
      }
    }
    .Small{
      width: 100%;
      height: auto;
    }
    .Middle{
      width: 100%;
      height: auto;
    }
    .Big{
      width: 100%;
      height: auto;
    }
  }
  .agenda{
    .agenda-item{
      width: 100%;
    }
  }
  .pan-catwalk-page{
    .filter{
      max-height: calc(6.5vw + 100px);
    }
    .label{
      font-size: 14px;
      padding: 5px 10px;
      border-width: 1px;
      margin: 2px;
      &.active{
        padding-right: 25px;
        &:after{
          content: '✕';
          font-size: 80%;
          text-transform: lowercase;
          position: absolute;
          top: 53%;
          transform: translateY(-50%);
          right: 10px;
        }
      }
    }
  }
  .pan-catwalk-items {
    margin-top: 10px;
    .pan-catwalk-item{
      width: 32.5%;
    }
    &#length1, &#length2{
      .pan-catwalk-item{
        width: 98%;
      }
    }
    &#length3, &#length4, &#length5, &#length6{
      .pan-catwalk-item{
        width: 49%;
      }
    }
    &#length7, &#length8{
      .pan-catwalk-item{
        width: 32.5%;
      }
    }
    &#length9, &#length10{
      .pan-catwalk-item{
        width: 32.5%;
      }
    }
    &#length11, &#length12{
      .pan-catwalk-item{
        width: 32.5%;
      }
    }
  }
  .page-wrapper {
    .content:before{
      width: 120px;
    }
    .content:after{
      width: 120px;
    }
  }
  .Collapsible{
    .trigger{
      font-size: 24px;
    }
    .collapsible-slices{
      flex-direction: column;
    }
    .collapsible-slice{
      width: 100%;
      p{
        font-size: 16px;
      }
    }
  }
  .logo-section .logos img{
    height: 75px;
  }

  #player-container{
    top: auto;
    bottom: 0px;
  }
  #player-container #play-pause {
    height: 40px;
    width: 40px;
    background-size:20px;
  }
  footer{
    flex-direction: column;
    align-items: center;
    .social-links{
      margin-bottom: 14px;
    }
  }
}