@font-face {
  font-family: "Archivo";
  src:
    url("Archivo-VariableFont_wdth,wght.woff2") format("woff2");
}

$black: #000;
$grey: #B8C6BC;
$beige: #C9C6B9;

$bg1: #bfbfbf;
$bg2: #a5acb0;
$bg3: #989f9a;
$bg4: #97938f;

$mustard: #8a8107;
$purple: #6970dd;

$dgreen: #007158;
$blue: #87cdff;

$lgreen: #c9e9a1;
$green: #009222;

$orange: #f96e36;
$lila: #bdbae1;


$h1: 64px;
$h2: 48px;
$h3: 36px;
$h4: 24px;
$pbig: 24px;
$pmed: 18px;
$psmall: 14px;

body{
	margin: 0;
	padding: 0;
	font-family: "Archivo";
	background-color: $bg1;
	font-size: $pbig;
}

.wrapper-zwermers{
	background-color: $bg1;
	.logo{
		background-color: $bg1;
	}
}
.wrapper-pan-catwalk{
	background-color: $bg2;
	.logo{
		background-color: $bg2;
	}
}
.wrapper-kalender{
	background-color: $bg3;
	.logo{
		background-color: $bg3;
	}
}
.wrapper-over-ons{
	background-color: $bg4;
	.logo{
		background-color: $bg4;
	}
}

.wrapper{
	min-height: 100vh;
	padding-top: calc(6.2vw + 96px);
}

*{
	box-sizing: border-box;
}

.menu{
	display: flex;
	justify-content: end;
	background-color: $bg1;
	position: fixed;
	width: 100vw;
	z-index: 999;
	top: 0;
	a{
		text-decoration: none;
		color: $black;
		padding: 14px 2vw;
		cursor: pointer;
		font-size: $pbig;
		&.zwermers{
			background-color: $bg1;
		}
		&.pan-catwalk{
			background-color: $bg2;
		}
		&.kalender{
			background-color: $bg3;
		}
		&.over-ons{
			background-color: $bg4;
		}
	}
}

.logo-center{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	.logo{
		top: 25%;
	}
}

.logo {
	position: fixed;
	width: 100vw;
	top: 48px;
	font-weight: 100;
	font-size: 10vw;
	font-variation-settings: 'wght' 100;
  font-family: "Archivo";
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
	align-items: center;
  margin-top: 0;
	margin-bottom: 0;
	// transition: all 0.4s ease-in-out;
	text-transform: uppercase;
	padding-top: 24px;
	padding-bottom: 20px;
	z-index: 999;
	.char {
		--delay: calc((var(--char-index) + 1) * 300ms);
		animation: breathe 5000ms infinite both;
		animation-delay: var(--delay);
		animation-timing-function: ease-in-out;
		// width: 7vw;
		height: 6.2vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding-top: 2px;
		// border: 1px solid red;
	}
	.space{
		margin-left: 4vw;
		width: auto;
	}
	.\/space, .\~space{
		width: auto;
	}
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100;
		font-size: 10vw;
	}
	50% {
		// font-variation-settings: 'wght' var(--random);
		font-variation-settings: 'wght' 900;
		// transform: rotate(-10deg);
		font-size: var(--font-size);
	}
	
	100% {
		font-variation-settings: 'wght' 100;
		font-size: 10vw;
	}
}


.archief{
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	// justify-content: space-between;
	column-count: 4;
	.archief-item{
		margin-bottom: 1.5vw;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			mask-size: cover;
			mask-repeat: no-repeat;
			object-fit: contain;
		}
		&:before, &:after{
			transition: all 0.4s ease;
		}
		.category{
			text-transform: capitalize;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			width: 200px;
			padding-right: 10px;
			text-align: right;
			opacity: 0;
			transition: all 0.4s ease;
		}
		&:after{
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-size: cover;
			mask-repeat: no-repeat;
			opacity: 0;
			transition: opacity 0.4s ease;
		}
		&:hover{
			.category{
				opacity: 1;
			}
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 1;
			}
			&.installation{
				img{
					mask-image: url(./installation.svg);
				}
			}
			&.workshop{
				img{
					mask-image: url(./workshop.svg);
				}
			}
			&.short-performance{
				img{
					mask-image: url(./short.svg);
				}
			}
			&.long-performance{
				img{
					mask-image: url(./long.svg);
				}
			}
		}
		&.installation{
			color:  $orange;
			&:after{
				mask-image: url(./installation-flaps.svg);
				background-color: $purple;
			}
		}
		&.workshop{
			color: $mustard;
			&:after{
				mask-image: url(./workshop-flaps.svg);
				background-color: $purple;
			}
		}
		&.short-performance{
			color: $lgreen;
			&:after{
				mask-image: url(./short-flaps.svg);
				background-color: $green;
			}
		}
		&.long-performance{
			color: $dgreen;
			&:after{
				mask-image: url(./long-flaps.svg);
				background-color: $blue;
			}
		}
	}
	// .Small{
	// 	height: 15vw;
	// }
	// .Middle{
	// 	height: 24vw;
	// }
	// .Big{
	// 	height: 41vw;
	// }
}


//page 

.page-wrapper{
	padding-bottom: 50px;
	.content{
		max-width: 900px;
		margin: 80px auto 0 auto;
		padding: 1px 14px 14px 14px;
		position: relative;
		.category{
			text-transform: capitalize;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			width: 300px;
			padding-right: 10px;
			text-align: right;
			transition: all 0.4s ease;
		}
		&:before{
			width: 300px;
			height: 330px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2-bg.svg);
			mask-repeat: no-repeat;
			mask-size: 100%;
			background-color: $bg1;
			z-index: 0;
			transition: opacity 0.4s ease;
		}
		&:after{
			width: 300px;
			height: 320px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2.svg);
			mask-size: 100%;
			mask-repeat: no-repeat;
			transition: opacity 0.4s ease;
		}
		&.installation{
			background-color:  $orange;
			&:after{
				background-color: $purple;
			}
			.category{
				color: $orange;
			}
		}
		&.workshop{
			background-color: $mustard;
			&:after{
				background-color: $purple;
			}
			.category{
				color: $mustard;
			}
		}
		&.short-performance{
			background-color: $lgreen;
			&:after{
				background-color: $green;
			}
			.category{
				color: $lgreen;
			}
		}
		&.long-performance{
			background-color: $dgreen;
			&:after{
				background-color: $blue;
			}
			.category{
				color: $dgreen;
			}
		}
		h1{
			margin: 10px 0;
			font-weight: 300;
		}
		.main-image{
			img{
				width: 100%;
			}
		}
	}
}

.wrapper .content{
	max-width: 900px;
	margin: auto;
}

//agenda

.agenda{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-top: 48px;
	padding-bottom: 48px;
	.agenda-item{
		width: 25%;
		height: auto;
		min-height: 500px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.category{
			text-transform: capitalize;
			position: absolute;
			top: 5px;
			right: 0;
			z-index: 2;
			width: 200px;
			padding-right: 10px;
			text-align: right;
			transition: all 0.4s ease;
		}
		.mask{
			width: 100%;
			height: 100%;
			mask-size: cover;
			mask-repeat: no-repeat;
			// padding-top: 180px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: end;
			padding: 14px;
		}
		&:after{
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-size: cover;
			mask-repeat: no-repeat;
			transition: opacity 0.4s ease;
		}
		&.installation{
			.mask{
				mask-image: url(./installation.svg);
				background-color:  $orange;
			}
			&:after{
				mask-image: url(./installation-flaps.svg);
				background-color: $purple;
			}
			.category{
				color: $orange;
			}
		}
		&.workshop{
			.mask{
				background-color: $mustard;
				mask-image: url(./workshop.svg);
			}
			&:after{
				mask-image: url(./workshop-flaps.svg);
				background-color: $purple;
			}
			.category{
				color: $mustard;
			}
		}
		&.short-performance{
			.mask{
				background-color: $lgreen;
				mask-image: url(./short.svg);
			}
			&:after{
				mask-image: url(./short-flaps.svg);
				background-color: $green;
			}
			.category{
				color: $lgreen;
			}
		}
		&.long-performance{
			.mask{
				mask-image: url(./long.svg);
				background-color: $dgreen;
			}
			&:after{
				mask-image: url(./long-flaps.svg);
				background-color: $blue;
			}
			.category{
				color: $dgreen;
			}
		}
	}
}


// .tags{
// 	display: flex;
// 	flex-direction: column;
// 	// transform: scaleY(-1);
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	// position: fixed;
// 	// bottom: 0;
// 	// max-width: 900px;
// 	margin: auto;
// 	// transform: scale(2);
// 	box-sizing: border-box;
// 	.tag{
// 		position: relative;
// 		height: 50px;
// 		width: 200px;
// 		background-color: white;
// 		margin: -1px;
// 		box-sizing: border-box;
// 		// mask-image: url(./workshop.svg);
// 		mask-size: cover;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: center;
// 		border: 2px solid black;
// 		// animation: move1 5000ms infinite both;
// 		// animation-timing-function: ease-in-out;
// 		// animation-delay: calc((var(--delay) + 1) * 300ms);
		
// 		// &:after{
// 		// 	content: "";
// 		// 	width: 90%;
// 		// 	height: 90%;
// 		// 	position: absolute;
// 		// 	top: 5%;
// 		// 	left: 5%;
// 		// 	mask-image: url(./workshop.svg);
// 		// 	mask-size: cover;
// 		// 	mask-repeat: no-repeat;
// 		// 	// background-color: lightgray;
// 		// 	z-index: -1;
			
// 		// }
// 		&:nth-child(8n){
// 			&:after{
// 				background-color: $bg1;
// 			}
// 		}
// 		&:nth-child(8n+1){
// 			&:after{
// 				background-color: $bg3;
// 			}
// 		}
// 		&:nth-child(8n+2){
// 			&:after{
// 				background-color: $bg4;
// 			}
// 		}
// 		&:nth-child(8n+3){
// 			&:after{
// 				background-color: $bg1;
// 			}
// 		}
// 		&:nth-child(8n+4){
// 			&:after{
// 				background-color: $bg3;
// 			}
// 		}
// 		&:nth-child(8n+5){
// 		  &:after{
// 				background-color: $bg4;
// 			}
// 		}
// 		&:nth-child(8n+6){
// 			&:after{
// 				background-color: $bg3;
// 			}
// 		}
// 		&:nth-child(8n+7){
// 			&:after{
// 				background-color: $bg1;
// 			}
// 		}
// 	}
// }

.tags{
	display: flex;
	height: 80vh;
	.tag{
		width: calc(100vw / 9);
		height: 100%;
		font-size: $pbig;
		// background-color: $bg1;
		border: 1px solid black;
		transition: all 1s ease-in-out;
		position: relative;
		cursor: pointer;
		overflow-x: hidden;
		overflow-y: scroll;
		img{
			width: 100%;
			height: auto;
		}
		&:hover{
			width: calc(100vw * 9);
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}


@keyframes move1 {
	0% {
		// z-index: 0;
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
		// z-index: 99;
	}
	100% {
		transform: scale(1);
		// z-index: 0;
	}
}