@font-face {
  font-family: "Archivo";
  src:
    url("Archivo-VariableFont_wdth,wght.woff2") format("woff2");
}

$black: #000;

$bg1: #bfbfbf;
$bg2: #a5acb0;
$bg3: #989f9a;
$bg4: #97938f;

$mustard: #8a8107;
$purple: #6970dd;

$dgreen: #007158;
$blue: #87cdff;

$lgreen: #CAE2A1;
$green: #00AF51;

$orange: #f96e36;
$lila: #bdbae1;

$red: #E53D2D;
$brown: #5E2124;

$grey: #CAC8BC;
$yellow: #F0F8CA;


$h1: 64px;
$h2: 48px;
$h3: 36px;
$h4: 28px;
$pbig: 24px;
$pmed: 18px;
$psmall: 14px;

body{
	margin: 0;
	padding: 0;
	font-family: "Archivo";
	background-color: $bg1;
	font-size: $pbig;
}

p{
	line-height: 1.2;
}

a{
	color: $black;
}

.wrapper-zwermers{
	background-color: $bg1;
	.logo{
		background-color: $bg1;
	}
}
.wrapper-pan-catwalk{
	background-color: $bg2;
	.logo{
		background-color: $bg2;
	}
}
.wrapper-kalender{
	background-color: $bg3;
	.logo{
		background-color: $bg3;
	}
	&.page-wrapper .content:before{
		background-color: $bg3;
	}
}
.wrapper-over-ons{
	background-color: $bg4;
	padding-bottom: 48px;
	.logo{
		background-color: $bg4;
	}
}

.wrapper{
	min-height: 100vh;
	padding-top: calc(6.2vw + 96px);
}

*{
	box-sizing: border-box;
}

.category{
	text-transform: capitalize;
}

.menu{
	display: flex;
	justify-content: end;
	background-color: $bg1;
	position: fixed;
	width: 100vw;
	z-index: 999;
	top: 0;
	a{
		text-decoration: none;
		color: $black;
		padding: 14px 2vw;
		cursor: pointer;
		font-size: $pbig;
		&.zwermers{
			background-color: $bg1;
		}
		&.pan-catwalk{
			background-color: $bg2;
		}
		&.kalender{
			background-color: $bg3;
		}
		&.over-ons{
			background-color: $bg4;
		}
	}
}

.logo-center{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 90%;
	}
}

.logo {
	position: fixed;
	width: 100vw;
	top: 48px;
	font-weight: 100;
	font-size: 10vw;
	font-variation-settings: 'wght' 100;
  font-family: "Archivo";
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
	align-items: center;
  margin-top: 0;
	margin-bottom: 0;
	// transition: all 0.4s ease-in-out;
	text-transform: uppercase;
	padding-top: 24px;
	padding-bottom: 20px;
	z-index: 999;
	.char {
		--delay: calc((var(--char-index) + 1) * 300ms);
		animation: breathe 5000ms infinite both;
		animation-delay: var(--delay);
		animation-timing-function: ease-in-out;
		// width: 7vw;
		height: 6.2vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding-top: 2px;
		// border: 1px solid red;
	}
	.space{
		margin-left: 4vw;
		width: auto;
	}
	.\/space, .\~space{
		width: auto;
	}
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100;
		font-size: 10vw;
	}
	50% {
		// font-variation-settings: 'wght' var(--random);
		font-variation-settings: 'wght' 900;
		// transform: rotate(-10deg);
		font-size: var(--font-size);
	}
	
	100% {
		font-variation-settings: 'wght' 100;
		font-size: 10vw;
	}
}

.Collapsible{
	margin: 14px 0;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	.Collapsible__trigger{
		font-size: $h3;
		cursor: pointer;
	}
	.collapsible-slices{
		margin-top: 24px;
		margin-bottom: 24px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	h3{
		margin: 10px 0;
		font-size: $pbig;
	}
	.collapsible-slice{
		width: 32%;
		img{
			width: 100%;
			height: auto;
		}
		p{
			font-size: $pmed;
		}
		margin-bottom: 24px;
	}
}


.archief{
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
	a{
		text-decoration: none;
		width: 25vw;
		height: 100%;
		aspect-ratio: 1/1.3608;
	}
	.archief-item{
		position: relative;
		height: 100%;
		.img{
			// filter: grayscale(1);
			mix-blend-mode: multiply;
			transition: opacity 0.4s ease;
			&:before{
				transition: opacity 0.4s ease;
			}
			&:after{
				transition: opacity 0.4s ease;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.img, .news-item, .no-img{
			width: 100%;
			height: 100%;
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
		}
		&:before, &:after{
			transition: all 0.4s ease;
		}
		&:after{
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			opacity: 1;
			transition: opacity 0.4s ease;
		}
		&:before{
			opacity: 1;
		}
		transition: color 0.4s ease;
		.overlay{
			position: absolute;
			z-index: 9;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			padding: 24px;
			color: white;
			text-align: right;
			height: 100%;
			background-color: rgba(0,0,0,0.2);
			opacity: 0;
			transition: opacity 0.4s ease;
			h2{
				span{
					font-weight: 300;
				}
			}
		}
		&:hover{
			.overlay{
				opacity: 1;
			}
			color: white;
			&.news {
				color: white;
			}
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 1;
			}
			&.news{
				.news-item{
					mask-image: none;
				}
				&:after{
					opacity: 0;
				}
			}
			&.co-creation, &.installation, &.workshop, &.performance, &.zwermen {
				.img, .no-img{
					mask-image: none;
					&:before{
						opacity: 0;
					}
				}
				&:after{
					opacity: 0;
				}
			}
		}
		.no-img{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 14px;
			span{
				font-weight: 300;
			}
		}
		&.news{
			color: $black;
			transition: color 0.4s ease;
			h2{
				margin: 0;
				padding: 0;
				text-align: left;
				margin-top: 40%;
				margin-left: 14px;
				font-size: $h3;
				span{
					font-weight: 300;
				}
			}
			p{
				text-align: left;
				margin-left: 14px;
				font-size: $pbig;
			}
			.news-item{
				background-color: $grey;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: end;
				mask-image: url(./long.svg);
				padding-right: 14px;
			}
			&:after{
				mask-image: url(./long-flaps.svg);
				background-color: $yellow;
				opacity: 1;
			}
		}
		.img{
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 9;
				opacity: 0;
				mix-blend-mode:soft-light;
			}
		}
		&.co-creation{
			// color: $red;
			.img, .no-img{
				mask-image: url(./co-creation.svg);
				background-color: $brown;
			}
			.img{
				&:before{
					mask-image: url(./co-creation.svg);
					background-color: $brown;
				}
			}
			&:after{
				mask-image: url(./co-creation-flaps.svg);
				background-color: $red;
			}
		}
		&.installation{
			// color:  $orange;
			.img, .no-img{
				mask-image: url(./installation.svg);
				background-color: $orange;
			}
			.img{
				&:before{
					mask-image: url(./installation.svg);
					background-color: $orange;
				}
			}
			&:after{
				mask-image: url(./installation-flaps.svg);
				background-color: $lila;
			}
		}
		&.workshop{
			// color: $mustard;
			.img, .no-img{
				mask-image: url(./workshop.svg);
				background-color: $mustard;
			}
			.img{
				&:before{
					mask-image: url(./workshop.svg);
					background-color: $mustard;
				}
			}
			&:after{
				mask-image: url(./workshop-flaps.svg);
				background-color: $purple;
			}
		}
		&.performance{
			// color: $dgreen;
			.img, .no-img{
				mask-image: url(./short.svg);
				background-color: $dgreen;
			}
			.img{
				&:before{
					mask-image: url(./short.svg);
					background-color: $dgreen;
				}
			}
			&:after{
				mask-image: url(./short-flaps.svg);
				background-color: $blue;
			}
		}
		&.zwermen{
			// color: $green;
			.img, .no-img{
				mask-image: url(./long.svg);
				background-color: $green;
			}
			.img{
				&:before{
					mask-image: url(./long.svg);
					background-color: $green;
				}
			}
			&:after{
				mask-image: url(./long-flaps.svg);
				background-color: $lgreen;
			}
		}
	}
}


//page 

.page-wrapper{
	padding-bottom: 50px;
	padding-top: 80px;
	min-height: 95vh;
	.content{
		max-width: 900px;
		margin: 0px auto 0 auto;
		padding: 1px 2vw 30px 2vw;
		position: relative;
		min-height: 500px;
		&:before{
			width: 300px;
			height: 330px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2-bg.svg);
			mask-repeat: no-repeat;
			mask-size: 100%;
			background-color: $bg1;
			z-index: 0;
			transition: opacity 0.4s ease;
		}
		&:after{
			width: 300px;
			height: 320px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2.svg);
			mask-size: 100%;
			mask-repeat: no-repeat;
			transition: opacity 0.4s ease;
		}
		&.news{
			background-color:  $grey;
			&:after{
				background-color: $yellow;
			}
			.category{
				color: $yellow;
			}
		}
		&.co-creation{
			background-color:  $brown;
			&:after{
				background-color: $red;
			}
			.category{
				color: $red;
			}
		}
		&.installation{
			background-color:  $orange;
			&:after{
				background-color: $lila;
			}
			.category{
				color: $lila;
			}
		}
		&.workshop{
			background-color: $mustard;
			&:after{
				background-color: $purple;
			}
			.category{
				color: $purple;
			}
		}
		&.performance{
			background-color: $dgreen;
			&:after{
				background-color: $blue;
			}
			.category{
				color: $blue;
			}
		}
		&.zwermen{
			background-color: $green;
			&:after{
				background-color: $lgreen;
			}
			.category{
				color: $lgreen;
			}
		}
		h1{
			margin: 0 0;
			font-weight: 300;
			max-width: 80%;
			padding-bottom: 10px;
		}
		h2{
			margin: 24px 0 0 0;
			font-weight: 300;
			font-size: $h4;
			max-width: 80%;
		}
		.location-date{
			margin: 0;
		}
		.extra-info{
			max-width: 80%;
		}
		.main-image{
			margin-top: 14px;
			min-height: 200px;
			img{
				width: 100%;
			}
		}
	}
}

iframe{
	width: 100%;
	border: none;
	aspect-ratio: 16/9;
}

.wrapper .content{
	max-width: 900px;
	margin: auto;
	padding-bottom: 24px;
	box-sizing: border-box;
}

//agenda

.agenda{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-top: 48px;
	padding-bottom: 48px;
	a{
		text-decoration: none;
		color: black;
	}
	.agenda-item{
		width: 25%;
		height: 100%;
		aspect-ratio: 1/1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.mask{
			width: 100%;
			height: 100%;
			mask-size: 100%;
			mask-repeat: no-repeat;
			mask-position: center;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: end;
			padding: 14px;
		}
		&:after{
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-size: 100%;
			mask-position: center;
			mask-repeat: no-repeat;
			transition: opacity 0.4s ease;
		}
		&:hover{
			cursor: pointer;
			.mask{
				mask-image: none!important;
			}
			&:after{
				mask-image: none!important;
				background-color: transparent!important;
			}
		}
		&.co-creation{
			.mask{
				mask-image: url(./installation-small.svg);
				background-color:  $brown;
			}
			&:after{
				mask-image: url(./installation-flaps-small.svg);
				background-color: $red;
			}
			.category{
				color: $brown;
			}
		}
		&.installation{
			.mask{
				mask-image: url(./installation-small.svg);
				background-color:  $orange;
			}
			&:after{
				mask-image: url(./installation-flaps-small.svg);
				background-color: $lila;
			}
			.category{
				color: $orange;
			}
		}
		&.workshop{
			.mask{
				background-color: $mustard;
				mask-image: url(./workshop-small.svg);
			}
			&:after{
				mask-image: url(./workshop-flaps-small.svg);
				background-color: $purple;
			}
			.category{
				color: $mustard;
			}
		}
		&.performance{
			.mask{
				background-color: $dgreen;
				mask-image: url(./short-small.svg);
			}
			&:after{
				mask-image: url(./short-flaps-small.svg);
				background-color: $blue;
			}
			.category{
				color: $dgreen;
			}
		}
		&.zwermen{
			.mask{
				mask-image: url(./long-small.svg);
				background-color: $green;
			}
			&:after{
				mask-image: url(./long-flaps-small.svg);
				background-color: $lgreen;
			}
			.category{
				color: $green;
			}
		}
	}
}

footer{
	display: flex;
	justify-content: center;
	padding: 24px 0;
	a{
		margin: 0 10px;
		font-size: $pmed;
		color: black;
		text-decoration: none;
	}
}

.extra{
	position: fixed;
	z-index: 999;
	right: -5px;
	bottom: 5px;
	font-size: $pmed;
	cursor: pointer;
	padding: 20px 10px;
	a{
		text-decoration: none;
	}
	
	div{
		transform: rotate(90deg);
		margin-bottom: 2px;
	}
}

.pan-catwalk-page{
	.filter{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.label{
		text-transform: capitalize;
		margin: 5px;
		padding: 10px 20px;
		border: 2px solid black;
		border-radius: 25px;
		cursor: pointer;
		transition: all 0.4s ease;
		&.hide{
			display: none;
		}
		&.active, &:hover{
			background-color: $yellow;;
		}
		&.persoon{
			&.active, &:hover{
				background-color: $mustard;;
			}
		}
		&.textiel{
			&.active, &:hover{
				background-color: $dgreen;
			}
		}
		&.basics{
			&.active, &:hover{
				background-color: $green;
			}
		}
		&.attributen{
			&.active, &:hover{
				background-color: $orange;
			}
		}
		&.locatie{
			&.active, &:hover{
				background-color: $brown;
			}
		}
		&.kledingcategorie{
			&.active, &:hover{
				background-color: $purple;
			}
		}
		&.kleur{
			&.active, &:hover{
				background-color: $blue;
			}
		}
	}
}

.pan-catwalk-items{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-bottom: 48px;
	width: 100%;
	padding-left: 1vw;
	.pan-catwalk-item{
		width: 19.3vw;
		// height: 100%;
		position: relative;
		box-sizing: border-box;
		padding: 10px 10px;
		
		.item-wrapper{
			width: 100%;
			height: 100%;
			position: relative;
		}
		img{
			width: 100%;
			height: 100%;
			aspect-ratio: 3/4;
			object-fit: cover;
			position: relative;
		}
	}
}

.image-section{
	margin-top: 10px;
	img{
		width: 100%;
		height: auto;
	}
	p{
		margin-top: 5px;
		font-size: $psmall;
	}
}

.buttons{
	display: flex;
	margin-top: 24px;
}

.button{
	margin-right: 14px;
	text-decoration: none;
	background-color: $grey;
	padding: 5px 20px;
	border-radius: 25px;
	border: 1px solid black;
	transition: opacity 0.4s ease;
	&:hover{
		opacity: 0.8;
	}
}

.performance .button{
	background-color: $blue;
}

.co-creation .button{
	background-color: $red;
}

.installation .button{
	background-color: $lila;
}

.workshop .button{
	background-color: $purple;
}

.zwermen .button{
	background-color: $lgreen;
}

.news .button{
	background-color: $yellow;
}

.logo-section{
	position: relative;
	h2{
		font-weight: 400;
	}
	.logos{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 30px;
		img{
			width: auto;
			height: 120px;
			object-fit: contain;
			margin-right: 14px;
			filter: grayscale(1) contrast(1.5);
		}
	}
}