@font-face {
  font-family: "Archivo";
  src:
    url("Archivo-VariableFont_wdth,wght.woff2") format("woff2");
}

$black: #000;
$grey: #B8C6BC;
$beige: #C9C6B9;
$brown: #857A1E;
$pink: #E585BF;
$green: #1D775C;
$yellow: #FFF39A;
$mustard: #857A1E;
$lgreen: #42BB65;
$dred: #630A1B;
$red: #FF4832;
$purple: #957193;
$blue: #0B98CD;


$h1: 64px;
$h2: 48px;
$h3: 36px;
$h4: 24px;
$pbig: 24px;
$pmed: 18px;
$psmall: 14px;

body{
	margin: 0;
	padding: 0;
	font-family: "Archivo";
	background-color: $beige;
	font-size: $pbig;
}

.wrapper-zwermers{
	background-color: $beige;
	.logo{
		background-color: $beige;
	}
}
.wrapper-pan-catwalk{
	background-color: $brown;
	.logo{
		background-color: $brown;
	}
}
.wrapper-kalender{
	background-color: $grey;
	.logo{
		background-color: $grey;
	}
}
.wrapper-over-ons{
	background-color: $green;
	.logo{
		background-color: $green;
	}
}

.wrapper{
	min-height: 100vh;
	padding-top: calc(6.2vw + 96px);
}

*{
	box-sizing: border-box;
}

.menu{
	display: flex;
	justify-content: end;
	background-color: $beige;
	position: fixed;
	width: 100vw;
	z-index: 999;
	top: 0;
	a{
		text-decoration: none;
		color: $black;
		padding: 14px 2vw;
		cursor: pointer;
		font-size: $pbig;
		&.zwermers{
			background-color: $beige;
		}
		&.pan-catwalk{
			background-color: $brown;
		}
		&.kalender{
			background-color: $grey;
		}
		&.over-ons{
			background-color: $green;
		}
	}
}

.logo-center{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	.logo{
		top: 25%;
	}
}

.logo {
	position: fixed;
	width: 100vw;
	top: 48px;
	font-weight: 100;
	font-size: 10vw;
	font-variation-settings: 'wght' 100;
  font-family: "Archivo";
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
	align-items: center;
  margin-top: 0;
	margin-bottom: 0;
	// transition: all 0.4s ease-in-out;
	text-transform: uppercase;
	padding-top: 24px;
	padding-bottom: 20px;
	z-index: 999;
	.char {
		--delay: calc((var(--char-index) + 1) * 300ms);
		animation: breathe 5000ms infinite both;
		animation-delay: var(--delay);
		animation-timing-function: ease-in-out;
		// width: 7vw;
		height: 6.2vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding-top: 2px;
		// border: 1px solid red;
	}
	.space{
		margin-left: 4vw;
		width: auto;
	}
	.\/space, .\~space{
		width: auto;
	}
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100;
		font-size: 10vw;
	}
	50% {
		// font-variation-settings: 'wght' var(--random);
		font-variation-settings: 'wght' 900;
		// transform: rotate(-10deg);
		font-size: var(--font-size);
	}
	
	100% {
		font-variation-settings: 'wght' 100;
		font-size: 10vw;
	}
}


.archief{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.archief-item{
		margin-bottom: 1.5vw;
		position: relative;
		img{
			width: auto;
			height: 100%;
		}
		&:before, &:after{
			transition: all 0.4s ease;
		}
		.category{
			text-transform: capitalize;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			width: 200px;
			padding-right: 10px;
			text-align: right;
			opacity: 0;
			transition: all 0.4s ease;
		}
		&:before{
			width: 200px;
			height: 220px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			background-image: url(./flap2-bg.svg);
			background-repeat: no-repeat;
			z-index: 0;
			opacity: 0;
			transition: opacity 0.4s ease;
		}
		&:after{
			width: 200px;
			height: 220px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2.svg);
			mask-size: 100%;
			mask-repeat: no-repeat;
			opacity: 0;
			transition: opacity 0.4s ease;
		}
		&:hover{
			.category{
				opacity: 1;
			}
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 1;
			}
		}
		&.installation{
			color:  $yellow;
			&:after{
				background-color: $blue;
			}
		}
		&.workshop{
			color: $mustard;
			&:after{
				background-color: $red;
			}
		}
		&.short-performance{
			color: $green;
			&:after{
				background-color: $pink;
			}
		}
		&.long-performance{
			color: $lgreen;
			&:after{
				background-color: $dred;
			}
		}
	}
	.Small{
		height: 15vw;
	}
	.Middle{
		height: 24vw;
	}
	.Big{
		height: 41vw;
	}
}



.tags{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.color{
		width: 75px;
		height: 75px;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;
		border: 2px solid black;
		&.red{
			background-color: red;
		}
		&.yellow{
			background-color: yellow;
		}
		&.blue{
			background-color: blue;
		}
		&.pink{
			background-color: pink;
		}
		&.orange{
			background-color: orange;
		}
		&.black{
			background-color: black;
		}
	}
	.tag{
		padding: 20px 50px;
		border: 2px solid black;
		margin: 10px 10px 10px 10px;
		border-radius: 100px;
		font-size: 36px;
		cursor: pointer;
		&:hover{
			background-color: black;
			color: white;
		}
		&:after{
			content: "X";
			margin-left: 48px;
			font-weight: 100;
			cursor: pointer;
		}
	}
}


//page 

.page-wrapper{
	padding-bottom: 50px;
	.content{
		max-width: 900px;
		margin: 80px auto 0 auto;
		padding: 1px 14px 14px 14px;
		position: relative;
		.category{
			text-transform: capitalize;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			width: 300px;
			padding-right: 10px;
			text-align: right;
			transition: all 0.4s ease;
		}
		&:before{
			width: 300px;
			height: 330px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2-bg.svg);
			mask-repeat: no-repeat;
			mask-size: 100%;
			background-color: $beige;
			z-index: 0;
			transition: opacity 0.4s ease;
		}
		&:after{
			width: 300px;
			height: 320px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2.svg);
			mask-size: 100%;
			mask-repeat: no-repeat;
			transition: opacity 0.4s ease;
		}
		&.installation{
			background-color:  $yellow;
			&:after{
				background-color: $blue;
			}
			.category{
				color: $yellow;
			}
		}
		&.workshop{
			background-color: $mustard;
			&:after{
				background-color: $red;
			}
			.category{
				color: $mustard;
			}
		}
		&.short-performance{
			background-color: $green;
			&:after{
				background-color: $pink;
			}
			.category{
				color: $green;
			}
		}
		&.long-performance{
			background-color: $lgreen;
			&:after{
				background-color: $dred;
			}
			.category{
				color: $lgreen;
			}
		}
		h1{
			margin: 10px 0;
			font-weight: 300;
		}
		.main-image{
			img{
				width: 100%;
			}
		}
	}
}

.wrapper .content{
	max-width: 900px;
	margin: auto;
}

//agenda

.agenda{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-top: 48px;
	padding-bottom: 48px;
	.agenda-item{
		width: 25%;
		min-height: 50vh;
		background-color: $dred;
		padding: 14px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-top: 180px;
		.category{
			text-transform: capitalize;
			position: absolute;
			top: 5px;
			right: 0;
			z-index: 2;
			width: 200px;
			padding-right: 10px;
			text-align: right;
			transition: all 0.4s ease;
		}
		&:before{
			width: 200px;
			height: 220px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2-bg.svg);
			mask-repeat: no-repeat;
			background-color: $grey;
			z-index: 0;
			transition: opacity 0.4s ease;
		}
		&:after{
			width: 200px;
			height: 220px;
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			mask-image: url(./flap2.svg);
			mask-size: 100%;
			mask-repeat: no-repeat;
			transition: opacity 0.4s ease;
		}
		&.installation{
			background-color:  $yellow;
			&:after{
				background-color: $blue;
			}
			.category{
				color: $yellow;
			}
		}
		&.workshop{
			background-color: $mustard;
			&:after{
				background-color: $red;
			}
			.category{
				color: $mustard;
			}
		}
		&.short-performance{
			background-color: $green;
			&:after{
				background-color: $pink;
			}
			.category{
				color: $green;
			}
		}
		&.long-performance{
			background-color: $lgreen;
			&:after{
				background-color: $dred;
			}
			.category{
				color: $lgreen;
			}
		}
	}
}